/***********developer: Maryam Keshavarz**********/
/*******************Mobile version***************/
body{
    background-color: #F0EFE9;
}

#container{
    font-family: 'Raleway', sans-serif;
    margin-top: 10vh;
}

.card{
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
    background-color: white;
    border-bottom: none;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(109, 107, 107)
}

#date1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 2%;
}

/**********************form for new task*****************************/
.form-group {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

form {
    position: relative;   
}

#inputTxtId{
    width: 100%;
    font-weight: bold;
    outline:none;
    border: none;
    border-bottom: 2px solid rgb(56, 56, 56);
}

/* #addBtn{
    background-color: transparent;
    border: transparent;
    font-size:20px;
    width: 7%;
    position: absolute;
    top: 20%;
    right: 1%;
} */


/************************todo list container***************************/
 #todo {
    margin: 10%;
    margin-top: 1%;
    text-align: center;
} 

.todoItems{
    /* background-color: rgb(238, 237, 237); */
    /* border-radius: 25px; */
    display: grid;
    grid-template-columns: 1fr 0.05fr;
    grid-template-rows: 1fr;
}

#checkboxId{
    width: 30px;
    height: 30px;
    background: white;
}

p{
    font-weight: bold;
}

#removeBtn{
    background: transparent;
    border-radius: 50%;
    border: 2px solid #1AC5E3;
    color: #1AC5E3;
}

/***************************Auto compelete*******************************/
/* .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    width: 90%;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    background-color: rgb(255, 30, 30) !important; 
    color: #ffffff; 
  }

  #autocomplete-list{
      display: none;
  } */

/* *******************Desktop version*********************
@media only screen and (min-width: 600px){
    main{
        border: none;
    }
    h1{
        font-size: 36px;
    }

    #addBtn{
        font-size:24px;
    } 

} */